.searchSection {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 30px;
  background: black; /* Just for testing */
  width: 100vw;
}

.textInsearchSection {
  font-size: x-large;
  color: white;
}

.searchInput {
  width: 20vw;
  height: 5vh;
}

.searchButton {
  height: 5.2vh;

  background: linear-gradient(135deg, #71b7e6, #9b59b6);
  color: white;
  font-size: large;
  font-weight: bold;
}

.iconInSearch {
  width: 40px;
  height: 40px;
}

.searchIcon {
  width: 16px;
  height: 21px;
  position: relative;
  bottom: 2px;
  right: 2px;
  gap: 7px;
}

.text2InsearchSection {
  font-size: x-large;
  color: white;
  margin-top: 5px;
}

.massHead {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: relative;
  top: 75px;
  padding: 150px;
}

.headTextInMassHead {
  font-size: xx-large;
}

.bodyTextInMassHead {
  font-size: large;
}

.BlogsbuttonInMassHead {
  display: flex;
  background: linear-gradient(135deg, #71b7e6, #9b59b6);
  color: white;
  font-size: larger;
  font-weight: bold;
  border-radius: 5px;
  border: white solid 1px;
  width: 100px;
  height: 5vh;
  justify-content: center;
}

.howToUseSection {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 150px;
}

.searchDectionSection {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: start;
  margin-top: 30px;
}

.textAndHeadInSearchSection {
  width: 35%;
}

.imageInSearchSection {
  position: relative;
  bottom: 10vh;
}
