@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

.profilePage{
  height:100vh;
}

.profile-card {
  position: relative;
  top: 100px;
  font-family: "Poppins", sans-serif;

}

.AddBlogs{
  margin-top:200px;
  
}

.patient-fields,
.head-office-fields,
.doctor-fields {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.bookAppointmentbtn,
.adminPanel,
.viewSchedulebtn {
  margin-top: 20px;
  align-self: center;
}

.edit {
  border: 0;
  background-color: white;
  position: relative;
  top: 40px;
  right: 10px;
  font-size: 16px;
}


.profile-pic-wrapper img {
  object-fit: cover;
}
.profile-pic-wrapper input[type="file"] {
  cursor: pointer;
}

