@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

.BlogsDiv {
  width: 100%;
  max-width: 800px;
  margin: 0 auto; 
  padding: 0 15px; 
  margin-bottom: 50px;
}

.BlogSection{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.addBlog{
margin-top: 20px;
width: 100%;
}

.success{
 margin-top: 10px;
 font-size: 14px;
font-weight: 600;
text-transform: capitalize;
letter-spacing: 2.5px;
color: green;
}

.failed{
margin-top: 10px;
 font-size: 14px;
font-weight: 600;
color: red;
text-transform: capitalize;
letter-spacing: 2.5px;
}

.selectService{
font-size: 16px;
font-weight: 500;
text-transform: uppercase;
letter-spacing: 2.5px;
}

