.allDoctorsPage {
  position: relative;
  top: 120px;
}
.renderAllDoctors {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  justify-items: center;
  margin-bottom: 600px;
}

.doctorBox {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: start;
  border: none;
  box-shadow: 5px 5px 10px rgb(155, 149, 149);
  border-radius: 10px;
  padding: 15px;
  margin: 10px;
  width: 95%;
  background-color: white;
}

.doctorDetailsAndImage {
  display: flex;
  flex-direction: row;
  gap: 2vw;
  align-items: start;
  background-color: white;
}

.imageInSearchSectionss {
  border-radius: 10px;
}

.doctorDetails {
  display: flex;
  flex-direction: column;
}

.nameInJoinRequestInAdminPanel {
  font-size: large;
  font-weight: bold;
}

.bookAnAppointmentInDoctorBox {
  display: flex;
  height: 50px;
  width: 225px;
  background-color: #216ecf;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 10px;
  align-self: center;
  align-items: center;
  justify-content: center;
  justify-self: right;
  float: right;
}

#iconInBookAppointment {
  position: relative;
  right: 3px;
}

@media (max-width: 500px) {
  .renderAllDoctors {
    grid-template-columns: 1fr;
    justify-content: center;
    justify-items: center;
    margin-bottom: 600px;
    display: grid;
  }

  .bookAnAppointmentInDoctorBox {
    color: #fff;
    float: right;
    background-color: #216ecf;
    border: none;
    border-radius: 10px;
    justify-content: center;
    place-self: center right;
    align-items: center;
    width: 110px;
    height: 50px;
    font-weight: bold;
    display: flex;
  }
  .imageInSearchSectionss {
    border-radius: 10px;
    width: 97px;
    height: 111px;
  }

  .doctorBox {
    background-color: #fff;
    border: none;
    border-radius: 10px;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
    width: 95%;
    margin: 5px;
    margin-top: 25px;
    padding: 10px;
    display: flex;
    box-shadow: 5px 5px 10px #9b9595;
    font-size: small;
  }

  .bookAnAppointmentInDoctorBox {
    color: #fff;
    float: right;
    background-color: #216ecf;
    border: none;
    border-radius: 10px;
    justify-content: center;
    place-self: center right;
    align-items: center;
    width: 90px;
    height: 50px;
    font-weight: bold;
    display: flex;
    font-size: small;
  }
}
