.joinRequestPage {
    display: flex;
    flex-direction: row;
  position: relative;
  top: 120px;
}

.imageInJoinRequestPage{
    position: relative;
    top:100px
}

.joinRequestPageParts {
  margin-left: 50px;
}

.headInJoinRequestPage{
    color: #9b59b6;
    font-weight: bold;
}

.textInJoinRequestPage {
  font-size: large;
  position: relative;
  left: 3px;
}

.nameInputSection,.emailAndPictureInputSection {
  display: flex;
  flex-direction: row;
  gap: 7vw;
}

.InputInJoinRequest {
  border-radius: 5px;
  border: solid black 1.5px;
  width: 17vw;
  height: 5vh;
  margin-bottom: 10px;
}

.textInInputInJoinRequest {
  position: relative;
  left: 0.5vw;
}

.submitButtonInJoinRequest {
  display: flex;
  background: linear-gradient(135deg, #71b7e6, #9b59b6);
  color: white;
  font-size: larger;
  font-weight: bold;
  width: 100px;
  height: 5vh;
  justify-content: center;
  border-radius: 5px;
  border: white solid 1px;
  position: relative;
  top: 3vh;
  left: 260px
}
