.containerUser{
    margin-bottom: 50px;
}

.title{
   text-transform: capitalize;
}

.country{
    text-transform: capitalize;
}

.name{
     text-transform: capitalize;
     color: black;
}

.img{
   max-width: 300px !important;
  max-height: 200px !important;
    object-fit: cover;
    object-position: center;
}