.BlogDiv {
  position: relative;
  top: 130px;
  margin-left: 60px;
   margin-right: 60px;
padding-bottom: 80px;
  font-family: "Poppins", sans-serif;

}

.BlogDiv img {
  width: 100%;
  height: 400px;         
  object-fit: cover;     
  object-position: center;
}

.title , .name , .country{
    text-transform: capitalize;
}